.Header {
  position: sticky;
  top: -40px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.sticked {
  background-color: #fff;
}

.menu {
  display: none;
  font: 18px / 1.2 MontserratBold;
  color: #fff;
  border: none;
  border-radius: 12px;
  background: #000;
  height: 40px;
  margin-top: 58px;
  padding: 0 10px;
}

@media (max-width: 786px) {

  .menu {
    display: block;
  }

}

@media (max-width: 430px) {

  .Header {
    justify-content: space-evenly;
  }

}

@media (max-width: 430px) {

  .menu {
    margin-top: 50px;
  }

}
