.Logo {
  padding: 50px 0 5px;
}

.Logo .Headline {
  display: inline-block;
  margin-right: 10px;
  font-size: 48px;
}

.Logo > span {
  display: inline-block;
  width: 114px;
  font: 16px / 1.2 MontserratReg;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 1250px) {

  .Logo > span {
    display: none;
  }

}
