.Logo {
  display: flex;
  align-items: flex-end;
  padding: 54px 0 7px;
}

.Logo .Headline {
  font-size: 48px;
}

.Logo > span {
  display: inline-block;
  width: 100px;
  margin: 0 0 3px 10px;
  font: 16px / 1.2 MontserratReg;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 430px) {

  .Logo > span {
    display: none;
  }

}

@media (max-width: 430px) {

  .Logo .Headline {
    font-size: 36px;
  }

}
