.Partners {
  position: relative;
  max-width: 963px;
  margin: 110px auto 0;
}

.Partners .view {
  display: flex;
  align-items: center;
  border-radius: 33px;
  box-shadow: 13.519px 18.607px 57px 0px rgba(21, 20, 20, 0.16);background-color: rgb(255, 255, 255);
  padding: 40px 20px;
  overflow: hidden;
}

.Partners .view img {
  margin: 20px;
}

.Partners .Arrow {
  position: absolute;
  top: 64px;
}

.Partners .Arrow.prev {
  left: -40px;
  transform: scale(-1);
}

.Partners .Arrow.next {
  right: -40px;
}

@media (max-width: 900px) {

  .Partners {
    max-width: 250px;
    flex-direction: column;
  }

  .Partners img {
    margin: 20px;
  }

}
