#Portfolio {
  text-align: center;
  background: url(../images/bg3.png) 0% 0% / 100% 100% no-repeat;
  margin-top: 85px;
  padding-bottom: 215px;
}

.Portfolio .Headline {
  padding: 150px 0 70px;
}

.Portfolio .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px
}

.Portfolio .Poster img {
  border-radius: 16%;
  box-shadow: 51.607px 36.135px 128px 0px rgba(21, 20, 20, 0.18);
  margin: 0 20px 15px;
}

.Portfolio .Poster p {
  font: 18px / 1.667 MontserratBold;
  margin: 15px auto 90px;
}

@media (max-width: 1922px) {

  #Portfolio {
    background-size: 1922px 100%;
  }

}

@media (max-width: 768px) {

  .Portfolio .Poster img {
    margin: 0;
  }

}
