.Presentation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.Presentation div {
  max-width: 630px;
  margin-top: 160px;
}

.Presentation img {
  margin: 65px 60px 0 80px;
}

.Presentation .Headline {
  font-size: 72px;
  padding-bottom: 30px;
}

.Presentation .Headline > span {
  color: #ffb839;
}

.Presentation .hidden {
  margin: 35px 0 50px;
}

@media (max-width: 1500px) {

  .Presentation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}
