.Profile {
  flex-basis: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.Profile .Headline {
  font: 1.33rem / 1.25 MontserratBold;
  color: #000;
  margin-top: 20px;
}

.Profile > div {
  display: flex;
}

.Profile p {
  font-size: 18px;
}
