#Services {
  padding-top: 150px;
  text-align: center;
}

.Services > p {
  padding: 40px 8.6% 0;
}

.Services .container {
  display: flex;
  justify-content: space-around;
}

.Services .Poster {
  margin-top: 65px;
}

@media (max-width: 900px) {

  .Services .view {
    overflow-x: scroll;
}

  .Services .container {
    width: calc(100% * 3);
}

  .Services .Poster {
    width: 100%
  }

}
