@font-face {
  font-family: MontserratBold;
  src: url(./fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: MontserratReg;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@import-normalize;

.App {
  font: 18px / 2 MontserratReg;
  color: rgb(102, 102, 102);
  background:
    url(./images/bg1.png) no-repeat,
    url(./images/bg2.png) right top no-repeat,
    url(./images/bg5.png) left bottom no-repeat,
    #fff;
}

.App > * {
  padding: 0 10.9%;
}

@media (max-width: 1140px) {

  .App > * {
    padding: 0 5%;
  }

}
